
!source
source/*.obj
!source/gdxf9glu.obj
source/ERROR
source/*.mod
source/*.*mod
scedes/nems.sh.*
scedes/jcl.dat.*
scedes/FILELIST.*
scedes/scedes.all.*
scedes/MOREOPT.*
scedes/keys.sed*
scedes/launched.from
scedes/keys.sed
*.bak
*.docx
*.dat
*.log
*.lxi
*.lst
*.~gm
*.bak
*.docx
*.dat
*.log
*.lxi
*.lst
*.~gm
*.mod
scedes/nems.sh.*
scedes/jcl.dat.*
scedes/FILELIST.*
scedes/scedes.all.*
scedes/MOREOPT.*
scedes/keys.sed*
scedes/launched.from
scedes/keys.sed
scedes/keys.sed
models/coal/log/aimms.err
